// estilo do carousel
.sliderx{
    border:none;
    width: 30%;
    height: 40vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background:rgb(51, 51, 51);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    i{
        font-size: 3vw;
    }
    
}
//estilo das bordas
.slidex{
    position: relative;
    min-width: 100%;
    height: 80%;
    transition: .5s;
    overflow: hidden;
    border: black;
    
}
// estilo dos botoes do carousel
%btn-styles {

    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 8%;
    height: 99%;
    background: none;
    border: none;
    margin-left:1px;
    margin-right: 1px;
    transition: 0.5s;
    &:hover{
        background: rgb(126, 126, 126);
        border:  black;
        opacity: 0.5;
        cursor: pointer;
        i{color: whitesmoke}
    }
    
    
    
    
}
#goLeft{

    left: 0;
    @extend %btn-styles;
}

#goRight{

    right: 0;
    @extend %btn-styles;
}

