.cabecalhoDois{
    flex: 1;
    background-color:#008000;
    color: white;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    height: 85px;
   }
    
.Cont form input{
    color: inherit;
    background: rgba(255, 255, 255, 0);
    padding: 0.2em;
    border: none;
    border-bottom: solid 2px  rgba(0, 0, 0, 0.979);
    border-radius: 8px 8px 0 0;
    font-size: 3.5rem;
    font-weight: bold;
    width: 100%;
    outline: none;
    transition: background-color 0.5s ease-in;
}

.Cont form input:focus{
    background-color: rgba(255, 255, 255, 0.05);
}

header svg{
    display: none;
}
